b-cov
t
!t/
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log
node_modules*
*.log
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea/
iron.iml
*.sublime-workspace
*.sublime-project
/nbproject/
.tm_properties
/kdt.zip
.tags
.tags_sorted_by_file
.buildpath
.project
.settings/
koala-config.json
.externalToolBuilders/
less/app_goods.css
less/app_homepage.css
.sass-cache
delete_remote_unused_branch.sh
/xhprof*
tests/projects/open/tests/Provider/data/
.vagrant
.front_error
bower_components
pinjian/vendor/
.bower.json
coverage
front_error
build
build_css
build_im
