body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.zent-table {
  box-sizing: border-box;
  width: 100%
}

.zent-table a {
  color: #38f;
  cursor: pointer
}

.zent-table a:hover {
  cursor: pointer;
  text-decoration: none
}

.zent-table .tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e5e5e5
}

.zent-table .expanded-item {
  width: 70px;
  text-align: center;
  position: relative
}

.zent-table .expanded-item i {
  height: 100%
}

.zent-table .expanded-item i:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.zent-table .thead .tr {
  border-top: none;
  border-bottom: 1px solid #e5e5e5;
  background: #f2f2f2
}

.zent-table .tbody .tr .td {
  padding: 16px 0 8px
}

.zent-table .tbody .tr .td .expandable-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  width: 17px;
  height: 17px;
  text-align: center;
  background: #fff;
  line-height: 10px;
  border: 1px solid #e9e9e9
}

.zent-table .tbody .tr .td .expandable-btn.expand-btn:after {
  content: "+";
  box-sizing: border-box
}

.zent-table .tbody .tr .td .expandable-btn.collapse-btn:after {
  content: "-";
  box-sizing: border-box
}

.zent-table .tbody .tr:hover {
  background: #f8f8f8
}

.zent-table .tbody .tr:hover .empty-data {
  background: transparent
}

.zent-table .tbody .tr--expanded {
  background-color: #f8f8f8
}

.zent-table .tbody .cell {
  min-height: 30px
}

.zent-table .tfoot {
  margin-top: 10px;
  box-sizing: border-box
}

.zent-table .tfoot__batchcomponents {
  float: left;
  padding: 5px;
  padding-left: 10px
}

.zent-table .tfoot__batchcomponents--has-children {
  border: 1px solid #eee;
  background: #fff
}

.zent-table .tfoot__batchcomponents--fixed {
  position: fixed;
  bottom: 0
}

.zent-table .tfoot__page {
  float: right
}

.zent-table .cell {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  padding: 10px;
  padding-left: 0;
  min-height: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  font-size: 12px
}

.zent-table .cell .asc,.zent-table .cell .desc {
  margin-left: 3px
}

.zent-table .cell .desc:after {
  position: absolute;
  content: "\2193"
}

.zent-table .cell .asc:after {
  position: absolute;
  content: "\2191"
}

.zent-table .cell .select-check {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: 0
}

.zent-table .cell__child-container {
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis
}

.zent-table .cell:first-child {
  padding-left: 10px
}

.zent-table .cell:last-child {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.zent-table .cell:last-child .cell__child-container {
  text-align: right
}

.zent-table .cell.empty-data {
  line-height: 20px;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.zent-table .cell.cell--selection {
  padding-left: 34px
}

.zent-table .cell.cell--money,.zent-table .cell.cell--right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end
}

.zent-table .cell.cell--money .cell__child-container,.zent-table .cell.cell--right .cell__child-container {
  text-align: right
}

.zent-table .cell.cell--start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start
}

.zent-table .cell.cell--start .cell__child-container {
  text-align: left
}

.zent-table .cell.cell--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.zent-table .cell.cell--center .cell__child-container {
  text-align: center
}

.zent-table .card__thumb {
  float: left;
  margin-right: 5px;
  height: 50px
}

.zent-table .card__title {
  display: block;
  height: 32px;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #38f
}

.zent-table .card__title:hover {
  text-decoration: none
}

.zent-table .card__info {
  font-size: 12px;
  color: #f60
}
